@font-face {
    font-family: "kalpurush";
    src: url(../fonts/kalpurush.ttf) format("truetype");

}

body {
    font-family: "kalpurush", sans-serif;
    font-weight: 300;
    color: #585b60;
    line-height: 26px;
    font-size: 15px;
}
